<template name="form">
    <form>
        <div class="input-field">
            <input type="file" />
        </div>
        <button class="waves-effect waves-light btn">Submit</button>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            {{updateMasonry}}
            <img src="{{this.url}}" />
        </div>
        {{/each}}
    </div>
</template>